<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.caesar.mapper.caesar.CsApplicationScmGroupMapper">
  <resultMap id="BaseResultMap" type="com.baiyi.caesar.domain.generator.caesar.CsApplicationScmGroup">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="application_id" jdbcType="INTEGER" property="applicationId" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="comment" jdbcType="LONGVARCHAR" property="comment" />
  </resultMap>
</mapper>