<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.caesar.mapper.caesar.CsApplicationMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.caesar.domain.generator.caesar.CsApplication">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="application_key" jdbcType="VARCHAR" property="applicationKey"/>
        <result column="kubernetes_application_id" jdbcType="INTEGER" property="kubernetesApplicationId"/>
        <result column="engine_type" jdbcType="INTEGER" property="engineType"/>
        <result column="enable_gitflow" jdbcType="BIT" property="enableGitflow"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryCsApplicationByParam"
            parameterType="com.baiyi.caesar.domain.param.application.ApplicationParam$ApplicationPageQuery"
            resultMap="BaseResultMap">
        select a0.* from cs_application a0
        <if test="tagId != null and tagId > 0">
            join cs_application_scm_member a1 on a0.id = a1.application_id
            join oc_business_tag a2 on a1.scm_id = a2.business_id and a2.business_type = 9 and a2.tag_id = #{tagId}
        </if>
        <where>
            <if test="queryName != null and queryName != ''">
                a0.name like "%" #{queryName} "%" or a0.application_key like "%" #{queryName} "%"
            </if>
        </where>
        group by a0.id
    </select>

    <select id="queryMyCsApplicationByParam"
            parameterType="com.baiyi.caesar.domain.param.application.ApplicationParam$MyApplicationPageQuery"
            resultMap="BaseResultMap">
        select a0.* from oc_user_permission a1
        inner join cs_application a0 on a0.id = a1.business_id and a1.business_type = 8
        <if test="userId != null">
            and a1.user_id = #{userId}
        </if>
        <where>
            <if test="queryName != null and queryName != ''">
                a0.name like "%" #{queryName} "%" or a0.application_key like "%" #{queryName} "%"
            </if>
        </where>
        order by a1.rate desc
    </select>

</mapper>