<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.caesar.mapper.caesar.CsCiJobMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.caesar.domain.generator.caesar.CsCiJob">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="application_id" jdbcType="INTEGER" property="applicationId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="job_key" jdbcType="VARCHAR" property="jobKey"/>
        <result column="branch" jdbcType="VARCHAR" property="branch"/>
        <result column="env_type" jdbcType="INTEGER" property="envType"/>
        <result column="job_type" jdbcType="VARCHAR" property="jobType"/>
        <result column="enable_tag" jdbcType="BIT" property="enableTag"/>
        <result column="scm_member_id" jdbcType="INTEGER" property="scmMemberId"/>
        <result column="job_build_number" jdbcType="INTEGER" property="jobBuildNumber"/>
        <result column="hide" jdbcType="BIT" property="hide"/>
        <result column="job_tpl_id" jdbcType="INTEGER" property="jobTplId"/>
        <result column="deployment_job_id" jdbcType="INTEGER" property="deploymentJobId"/>
        <result column="at_all" jdbcType="BIT" property="atAll"/>
        <result column="oss_bucket_id" jdbcType="INTEGER" property="ossBucketId"/>
        <result column="dingtalk_id" jdbcType="INTEGER" property="dingtalkId"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="parameter_yaml" jdbcType="LONGVARCHAR" property="parameterYaml"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryCsCiJobByParam" parameterType="com.baiyi.caesar.domain.param.application.CiJobParam$CiJobPageQuery"
            resultMap="BaseResultMap">
        select * from cs_ci_job
        <where>
            application_id = #{applicationId}
            <if test="queryName != null and queryName != ''">
                and ( name like "%" #{queryName} "%" or comment like "%" #{queryName} "%" )
            </if>
        </where>
    </select>

    <select id="queryCsCiJobTplByParam"
            parameterType="com.baiyi.caesar.domain.param.application.CiJobParam$CiJobTplPageQuery"
            resultMap="BaseResultMap">
        select * from cs_ci_job
        <where>
            job_tpl_id = #{jobTplId}
            <if test="queryName != null and queryName != ''">
                and ( name like "%" #{queryName} "%" or comment like "%" #{queryName} "%" )
            </if>
        </where>
    </select>
</mapper>