<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baiyi.caesar.mapper.caesar.CsOssBucketMapper">
    <resultMap id="BaseResultMap" type="com.baiyi.caesar.domain.generator.caesar.CsOssBucket">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="bucket_location" jdbcType="VARCHAR" property="bucketLocation"/>
        <result column="extranet_endpoint" jdbcType="VARCHAR" property="extranetEndpoint"/>
        <result column="intranet_endpoint" jdbcType="VARCHAR" property="intranetEndpoint"/>
        <result column="bucket_region" jdbcType="VARCHAR" property="bucketRegion"/>
        <result column="is_active" jdbcType="BIT" property="isActive"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="comment" jdbcType="LONGVARCHAR" property="comment"/>
    </resultMap>

    <select id="queryCsOssBucketByParam"
            parameterType="com.baiyi.caesar.domain.param.aliyun.OSSBucketParam$BucketPageQuery"
            resultMap="BaseResultMap">
        select * from cs_oss_bucket
        <where>
            <if test="queryName != null and queryName != ''">
                name like "%" #{queryName} "%"
            </if>
            <if test="isActive != null">
                and is_active = #{isActive}
            </if>
        </where>
        order by is_active desc
    </select>
</mapper>